@using Catalog.ViewModels
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadPartial" />
</head>
<body>

    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header", required: false)
    }
    else
    {
        <header>
            <partial name="_NavbarPartial" />
        </header>
    }

    <div class="container">
        @await Component.InvokeAsync(typeof(BreadcrumbViewComponent), new { viewContext = ViewContext })
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (IsSectionDefined("Footer"))
    {
        @RenderSection("Footer", required: false)
    }
    else
    {
        <footer>
            <div class="footer text-center">
                <span class="text-muted">Web .NET Mentoring Program [2021Q2]</span>
            </div>
        </footer>
    }

    <partial name="_ScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
