@model Catalog.Models.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="collapse d-sm-inline-flex flex-sm-row-reverse">
    <img src="@String.Format("data:image/jpg;base64,{0}", @Model.Base64String)" />
</div>